
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #dedede;
}

.form-con{
	margin-top: 10em;
}

header{
	margin-bottom: 3em;
}

.form-registro{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background-color: white;
	border-radius: 7px;
}

.form-titulo{
	background-color: deepskyblue;
	color: white;
	padding: 20px;
	text-align: center;
	font-weight: 100%;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom:  5px solid #757575; 
}

.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.input-50{
	width: 48%;
}

.input-100{
	width: 100%;
}

.btn-enviar{
	background-color: #42A5F5;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 18px;
}

.btn-enviar:active{
	transform: scale(1.05);
}

.form-p{
	width: 100%;
	margin: 7px;
	text-align: center;
	font-size: 14px;
}