*{
	margin: 0;
	padding: 0;
}
.principal{
	width: 75%;
	height: 100%;
	margin-left: .5em;
	margin-top: -50em;
	margin-bottom: .5em;
	padding: .5em;
	background: white;
	float: left;
	border-radius: 5px;
}
.principal2{
	width: 75%;
	height: 100%;
	margin-left: .5em;
	margin-top: -20em;
	margin-bottom: .5em;
	padding: .5em;
	background: white;
	float: left;
	border-radius: 5px;
}
.principal3{
	width: 75%;
	height: 100%;
	margin-left: .5em;
	margin-top: 3.5em;
	margin-bottom: .5em;
	padding: .5em;
	background: white;
	float: left;
	border-radius: 5px;
}
.lateral{

	width: 15%;
	background-color:#0B0B61;
	margin-top: -3.5em;
	margin-left: 70em;
	margin-right: 1em;
	margin-bottom: .5em;
	float:right;
	color: #FFFF00;
}

.lateral2{
	width: 15%;
	height: 25%;
	background-color: white;
	margin-top: 5.5em;
	margin-left: 68em;
	margin-right: 1em;
	margin-bottom: .5em;
	float:left;
	border-radius: 5px;
	padding: .5em;
}
.lateral3{
	width: 15%;
	height: 25%;
	background-color: white;
	margin-top: 3em;
	margin-left: 68em;
	margin-right: 1em;
	margin-bottom: .5em;
	float:left;
	border-radius: 5px;
	padding: .5em;
}
.lateral4{
	width: 15%;
	height: 25%;
	background-color: white;
	margin-top: 3em;
	margin-left: 68em;
	margin-right: 1em;
	margin-bottom: .5em;
	float:left;
	border-radius: 5px;
	padding: .5em;
}

.lateral5{
	width: 15%;
	height: 25%;
	background-color: white;
	margin-top: 3em;
	margin-left: 68em;
	margin-right: 1em;
	margin-bottom: .5em;
	float:left;
	border-radius: 5px;
	padding: .5em;
}
hr{
	width: 65%;
	height: 5px;
	background-color: black;
	border-radius: 5px;
}
h1{
	margin-top: .5em;
	margin-left: .5em;
}
h2{
	margin-left: .5em;
}

img{
	float: left;
	margin-right: .5em;
	border-radius: 5px;
}
a{
	color: black;
	text-decoration: none;
}
div#final{
	color: 
	width: 100%;
	margin-top: 100%;
	border-bottom: .1em solid #757575;
	border-top: .1em solid #757575;
	background-color: #222;
	padding: 2em 5em;
}
div#final a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}