#quiz{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 15px 20px 10px solid #cbcbcb;

}

#quiz h1{
    font-family: sans-serif;
    background-color: #42A5F5;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

#quiz #pregunta{
    font-family: sans-serif;
    font-size: 30px;
    color: #5a6772;
}

.buttons{
    margin-top: 30px;
}

#respuesta{
    background-color: #42A5F5;
    font-size: 20px;
    width: 250px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#progress{
    color: #2b2b2b;
    font-size: 18px;
}

#respuesta{
   cursor: pointer;
   background-color: #2366F2;
}


#respuesta{
  outline: 0;
}