*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.titulo{
	float:left;
}
#imagen{
	width: 100%;
}
.principal{
	background-color: white;
	width: 65%;
	margin: 0.5em 17.5% 0.5em 17.5%;
	padding: 0.5em 1em .5em 1em;
}
.principal p{
	margin: 0 4em 1em 4em;
}
div#final{
	color: 
	width: 100%;
	height: 100%
	border-bottom: .1em solid #757575;
	border-top: .1em solid #757575;
	background-color: #222;
	padding: 2em 5em;
}
div#final a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
#cabeza h1{
	z-index: 1;
	margin: -2.5em 0 -5em 5em;
	position: absolute;
	color: white;
}
#cabeza h5{
	z-index: 1;
	margin: -2.5em 0 -5em 5em;
	position: absolute;
	color: white;
}
.principal h2{
	margin: 0 0 0.5em 1em;
}
.principal h3{
	margin: 0 4em 1em 4em;
}
.video{
	background-color: white;
	width: 65%;
	margin: 0.5em 17.5% 0.5em 17.5%;
	padding: 0.5em 1em .5em 1em;
}
.video h2{
	margin: 
	0 0 0.5em 1em;
}
.video iframe{
	margin: 0 0em 1em 12em;
}
p img{
	margin-left: 8em;
	margin-bottom: 1em;
}
.principal li{
	display:block;
	float: left;
	background-color: #42A5F5;
	color: white;
	border-radius: 15px;
	padding: 0.5em;
	margin: -2em 0 0 25em;
}
.principal li:hover{
	background-color: #01579B;
	color: white;
}
.principal li{
	transition: background-color 0.3s ease-out 0.1s;
}