
@keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 22.5% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 97.5% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#cf4a {
  position:fixed;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index:3 ;
}
#cf4a img {
  position:absolute;
  left:0;
  width: 100%;
  height: 100%;
}

#cf4a img {
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
#cf4a img:nth-of-type(1) {

  animation-delay: 30s;
}
#cf4a img:nth-of-type(2) {

  animation-delay: 20s;
}
#cf4a img:nth-of-type(3) {

  animation-delay: 10s;
}
#cf4a img:nth-of-type(4) {

  animation-delay: 0;
}
#vacio{
  width: 100%;
  height: 39em;
  position: relative;
  visibility: visible;
  z-index: 4;
}
#contenido{
  width: 93%;
  height: 90%;
  background-color: #F7F7F7;
  position: relative;
  visibility: visible;
  z-index: 4;
   margin: 3em;
  padding: 3em
}
#dentro{
  background-color: white;
  margin: 3em;
  padding: 3em
}
